.heading {
  width: 100%;
  margin-top: 0px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Great Vibes', cursive;
  color: #236ecc;
  font-size: 5.6em;
  line-height: 2em;
  text-align: center;
  text-shadow: 0 4px 6px #a1d9ff;
}

.section {
  height: 400px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 0%, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 0%, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.container {
  height: 100%;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.numero_cont {
  padding: 18px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #97cff5;
}

.numero_cont.score {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.paragraph {
  display: block;
  width: 89%;
  margin: 37px auto 38px;
  padding-right: 53px;
  padding-left: 53px;
  font-family: Bitter, serif;
  color: #d4e5ff;
  font-size: 1em;
  line-height: 1.8em;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.crystal_btn {
  width: 25%;
  padding: 47px;
}

.text_top {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #ac7dff;
  font-size: 8em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 2px 0 #000;
}

.text_top.wins {
  color: #45b66e;
  font-size: 4em;
  text-align: center;
}

.text_top.lost {
  color: #fd148d;
  font-size: 4em;
  text-align: center;
}

.text_top.score {
  color: #fc8e28;
}

.section-2 {
  background-color: #0e92ec;
}

.col {
  border-right: 2px solid #000;
}

.text_less_top {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 991px) {
  .section {
    background-image: -webkit-linear-gradient(90deg, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
    background-image: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .container-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .crystal_btn {
    width: 25%;
    padding: 37px;
  }
  .text_top {
    font-size: 6.3em;
  }
}

@media (max-width: 767px) {
  .section {
    height: auto;
    background-image: -webkit-linear-gradient(270deg, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph {
    padding: 0px;
  }
  .container-2 {
    height: auto;
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: #c8e9ff;
  }
  .crystal_btn {
    padding: 26px;
  }
  .text_top {
    text-align: center;
  }
  .col {
    border-bottom: 2px solid #000;
    border-right-style: none;
  }
}

@media (max-width: 479px) {
  .heading {
    font-size: 3.9em;
    line-height: 1.2em;
  }
  .section {
    background-image: -webkit-linear-gradient(270deg, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .31)), url('../images/back_top.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .paragraph {
    padding: 10px;
  }
  .container-2 {
    height: auto;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #c8e9ff;
  }
  .crystal_btn {
    padding: 14px;
  }
  .text_top {
    font-size: 6.4em;
  }
  .text_top.wins {
    font-size: 3.6em;
  }
  .text_top.lost {
    font-size: 3.6em;
  }
}